<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Create Account Progresso</title>
</head>
<body>
    <div class="container">
        <div class="box-login">
            <div class="login-logo">
                <img class="icon" src="/assets/imgs/logo.png" alt="logo">
                <h1>PROGRESSO</h1>
            </div>
            <% if(error){ %>
                <div class="box-hidden">
                    <h3>Something went wrong!</h3>
                    <p><%= error %></p>
                </div>
            <% } %>
            <form class="form-login" action="/createAccount" method="POST">
                <input class="input-logo" type="text" name="fName" placeholder="First name" required>
                <input class="input-logo" type="text" name="lName" placeholder="Last name" required>
                <input class="input-logo" type="email" name="email" id="email" placeholder="Email Address" required>
                <input class="input-logo" type="password" name="fPassword" placeholder="Create password" required>
                <input class="input-logo" type="password" name="lPassword" placeholder="Confirm password" required>

                <button type="submit">Create account</button>
            </form>
        </div>
    </div>
</body>
</html>