<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <title>Login Progresso</title>
</head>
<body>
    <div class="container">
        <div class="box-login">
            <div class="login-logo">
                <img class="icon" src="/assets/imgs/logo.png" alt="logo">
                <h1>PROGRESSO</h1>
            </div>
            <form class="form-login" action="/login" method="POST">
                <input class="input-logo" type="text" name="fName" placeholder="First name">
                <input class="input-logo" type="text" name="lName" placeholder="Last name">
                <input class="input-logo" type="email" name="email" id="email" placeholder="Email Address">
                <input class="input-logo" type="password" name="fPassword" placeholder="Create password">
                <input class="input-logo" type="password" name="sPassword" placeholder="Confirm password">

                <button type="submit">Create account</button>
            </form>
        </div>
    </div>
</body>
</html>